            <ul id="slide-out" class="side-nav">
                <li>
                    <div class="userView">
                        <div class="background">
                            <img src="https://www.farragutanchor.com/media/background_(back).jpg">
                        </div>
                        <a><i class="material-icons avatar" style="font-size: 60px; color: #fff">account_circle</i></a>
                        <a><span class="white-text name">(name)</span></a>
                        <a><span class="white-text email">(id)</span></a>
                    </div>
                </li>
                <li><a class="subheader">Coming soon<i class="material-icons">alarm</i></a></li>
                <li><a class="subheader">Coming soon<i class="material-icons">alarm</i></a></li>
                <li><div class="divider"></div></li>
                <li><a href="https://www.farragutanchor.com/php/logout"><i class="material-icons">exit_to_app</i>Logout</a></li>
            </ul> 
