<div style="text-align: center; font-size: 32px; color: #1B2845; padding-top: 7%"> You have been signed out for <span id="minutes">0</span> minute<span id="minutesPlural">s</span> and <span id="seconds">0</span> second<span id="secondsPlural">s</span> </div>
<div class="row" style="text-align: center; padding-top: 4%">
    <form method="post">
        <input type="hidden" name="action" value="in">
        <button class="btn waves-effect waves-light" type="submit">Sign In</button>
    </form>
</div>
